# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/
.env/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Misc
*.log
*.sqlite3

# Ignore data files (optional)
*.csv
*.xlsx
